PORT=3000
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/rueda_jump?retryWrites=true&w=majority&appName=RuedaJump
JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_SEGURA
FRONTEND_URL=http://localhost:4200
CORS_ORIGINS=
ALLOW_NETLIFY_PREVIEWS=false
